img{
    width: 100%;
    display: block;
}

.top-banner{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}

/* font-family: 'Merriweather Sans', sans-serif; */
.logo h2{
    padding: 0px;
    margin: 0px;
}
.search-product input{
  height: 35px;
  width: 210px;
  border: none;
  outline: none;
}
.search-product button{
    height: 36px;
    margin-left: -5px;
    margin-top: -4px;
    background: #f0ad4e;
}
.filter-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    padding-left: 10px;
}
.filter-container input{
  height: 35px;  
  border: 2px solid gray;
  border-radius: 5px;
  outline: none;
}
.filter-container input::placeholder{
    font-family: 'Merriweather Sans', sans-serif;
    color: gray;
    padding-left: 6px;
}


.productHeadLine{
    margin: 8px 0px;
}
.productHeadLine h2{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 25px;
    padding: 20px 10px;
    margin: 0px;
}
.home_mobile_continer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
}
.card_container{
    background-color: #f5f6fa;
    border-radius: 5px;
    text-align: center;
}
.card_img{
    height: 300px;
}
.card_img img{
    height: 100%;
}
.card_container:hover{
    box-shadow: 0px 9px 44px -16px rgba(0,0,0,0.36);
    -webkit-box-shadow: 0px 9px 44px -16px rgba(0,0,0,0.36);
    -moz-box-shadow: 0px 9px 44px -16px rgba(0,0,0,0.36);
}
.card_content{
    padding: 15px;
}
.card_body .mobile_title{
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 20px;
  color: #000;
  font-weight: 500;
  
}
.card_body .mobile_price{
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 16px;
  color: #000;
  font-weight: 400;
  
}










.product-area{
    width: 150px;
}
.product-area img{
    width: 150px;
}
.product-info{
    text-align: center;
}
.productHeadLine{
    background-color:#fff;
    padding: 2px 0px;
}
.mobile_image{
    width: 100%;
}
.productContainer{
    border: 1px solid gray;
    background-color: #fff;
}
.productTitle{
    text-align: center;
    font-weight: 700;
}