@media only screen and (max-width: 970px) {
    .home_mobile_continer {
        grid-template-columns: repeat(3,1fr);
    }
  }
@media only screen and (max-width: 770px) {
    .home_mobile_continer {
        grid-template-columns: repeat(2,1fr);
        grid-gap: 15px;
    }
  }
@media only screen and (max-width: 470px) {
    .home_mobile_continer {
        grid-template-columns: repeat(1,1fr);
        grid-gap: 20px;
    }
    .filter-container {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
  }