.site-footer{
    margin-top: 60vh;
}
.cat_img{
    height: 100px;
    width: 100px;
}
.add_mobile_btn{
    margin-top: 20px;
}
.left-column img{
    width: 100%;
}
.mobile_info{
    padding-left: 0px;
}
.mobile_info li{
    padding-top: 7px;
}

